odoo-addon-agreement_serviceprofile @ git+https://github.com/OCA/agreement.git@refs/pull/74/head#subdirectory=agreement_serviceprofile
odoo-addon-agreement_helpdesk_mgmt @ git+https://github.com/OCA/agreement.git@refs/pull/78/head#subdirectory=agreement_helpdesk_mgmt
